# ignore all hidden files
.*

# except these hidden files
!.eslintrc
!.gitignore
!.nvmrc
!.travis.yml
!.codeclimate.yml

# ignore these files
*.log
cov.html

# ignore these directories
node_modules
rethinkdb_data*
